/*
.flex-container{
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
}

.header-container{
    background-color: #1F2937;
    height: 500px;
}

.projects-container{
    height: 200px;
}

.quotes-container{
    background-color: #E5E7EB;
    height: 200px;
}

.footer-container{
    height: 400px;
}
    */